<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- Extension point will ideally be "org.eclipse.text...." because
   the feature should be part of the generic text editor -->
   <extension
         id="diagnostic"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.languageserver.operations.codeactions.LSPCodeActionMarkerResolution"
            markerType="org.eclipse.languageserver.diagnostic">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.languageserver.operations.declaration.OpenDeclarationHyperlinkDetector"
            description="%openDeclarationHyperlink_decription"
            id="org.eclipse.languageserver.hyperlinkDetector"
            name="%openDeclarationHyperlink_name"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.languageserver.format"
            name="%format.command.name">
      </command>
      <command
            id="org.eclipse.languageserver.symbolinfile"
            name="Go to Symbol in File">
      </command>
      <command
            id="org.eclipse.languageserver.symbolinworkspace"
            name="Go to Symbol in Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.languageserver.operations.references.LSFindReferences"
            commandId="org.eclipse.ui.genericeditor.findReferences">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.languageserver.operations.rename.LSPRenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.languageserver.operations.format.LSPFormatHandler"
            commandId="org.eclipse.languageserver.format">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.languageserver.operations.symbols.LSPSymbolInFileHandler"
            commandId="org.eclipse.languageserver.symbolinfile">
      </handler>
      <handler
            class="org.eclipse.languageserver.operations.symbols.LSPSymbolInWorkspaceHandler"
            commandId="org.eclipse.languageserver.symbolinworkspace">
      </handler>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.search.internal.ui.text.FileSearchPage"
            id="org.eclipse.languageserver.lsResultPage"
            searchResultClass="org.eclipse.languageserver.operations.references.LSSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.languageserver.ui.LanguageServerPreferencePage"
            id="org.eclipse.languageserver.preferences"
            name="%languageservers.preference.page">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="%refactorings.menu.label">
            <command
                  commandId="org.eclipse.ui.edit.rename"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.languageserver.refactoringseparator">
            </separator>
         </menu>
         <command
               commandId="org.eclipse.languageserver.format"
               style="push">
         </command>
         <menu
               label="%codelens.menu.label">
            <dynamic
                  class="org.eclipse.languageserver.operations.codelens.LSPCodeLensMenu"
                  id="org.eclipse.languageserver.codelens">
            </dynamic>
         </menu>
         <menu
               label="%codeactions.menu.label">
            <dynamic
                  class="org.eclipse.languageserver.operations.codeactions.LSPCodeActionsMenu"
                  id="org.eclipse.languageserver.codeActions">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.languageserver.operations.completion.LSContentAssistProcessor"
            contentType="org.eclipse.core.runtime.text">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="org.eclipse.languageserver.operations.hover.LSBasedHover"
            contentType="org.eclipse.core.runtime.text">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.languageserver.symbolinfile"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+O">
      </key>
      <key
            commandId="org.eclipse.languageserver.symbolinworkspace"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.internal.genericeditor.ExtensionBasedTextEditor"
            class="org.eclipse.languageserver.outline.EditorToOutlineAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.languageserver.outline.LSSymbolsContentProvider"
            labelProvider="org.eclipse.languageserver.outline.SymbolsLabelProvider"
            id="org.eclipse.languageserver.outline.content"
            name="LS Symbols">
         <triggerPoints>
            <or></or>
         </triggerPoints>
         <enablement>
            <instanceof
                  value="org.eclipse.languageserver.LanguageServiceAccessor$LSPDocumentInfo">
            </instanceof>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.languageserver.outline">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.languageserver.outline">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.languageserver.outline.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.notifications.ui.notifications">
        <category
        	id="org.eclipse.languageserver"
        	label="%notification.category.label">
        </category>
		<event
		    categoryId="org.eclipse.languageserver"
		    id="lsp.notification"
		    label="%notification.event.label"
		    selected="true">
		    <defaultHandler
		      sinkId="org.eclipse.mylyn.commons.notifications.sink.Popup">
		    </defaultHandler>
		</event>
   </extension>

</plugin>
