<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="cs"
            id="org.eclipse.languageserver.languages.csharp"
            name="C Sharp"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="less"
            id="org.eclipse.languageserver.languages.less"
            name="LESS"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="scss,sass"
            id="org.eclipse.languageserver.languages.scss"
            name="SCSS/SASS"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="css"
            id="org.eclipse.languageserver.languages.css"
            name="CSS"
            priority="normal">
      </content-type>
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="json"
            id="org.eclipse.languageserver.languages.json"
            name="JSON"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.presentationReconcilers">
      <presentationReconciler
            class="org.eclipse.languageserver.languages.csharp.CSharpKeywordsHighlighter"
            contentType="org.eclipse.languageserver.languages.csharp">
      </presentationReconciler>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="org.eclipse.languageserver.languages.InitializeLaunchConfigurations">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editorContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.csharp"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.css"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.less"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.scss"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
      <editorContentTypeBinding
            contentTypeId="org.eclipse.languageserver.languages.json"
            editorId="org.eclipse.ui.genericeditor.GenericEditor">
      </editorContentTypeBinding>
   </extension>
</plugin>
