<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="languageServer" name="Language Server" schema="schema/languageServer.exsd"/>
   <!-- Extension point will ideally be "org.eclipse.text...." because
   the feature should be part of the generic text editor -->
   <extension
         id="diagnostic"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.lsp4e.operations.codeactions.LSPCodeActionMarkerResolution"
            markerType="org.eclipse.lsp4e.diagnostic">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.lsp4e.operations.declaration.OpenDeclarationHyperlinkDetector"
            description="%openDeclarationHyperlink_decription"
            id="org.eclipse.lsp4e.hyperlinkDetector"
            name="%openDeclarationHyperlink_name"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
      <hyperlinkDetector
            activate="true"
            class="org.eclipse.lsp4e.operations.documentLink.DocumentLinkDetector"
            description="Document Link Detector"
            id="org.eclipse.lsp4e.documentLinkDetector"
            name="Document Link Detector"
            targetId="org.eclipse.ui.DefaultTextEditor">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.lsp4e.format"
            name="%format.command.name">
      </command>
      <command
            id="org.eclipse.lsp4e.symbolinfile"
            name="Go to Symbol in File">
      </command>
      <command
            id="org.eclipse.lsp4e.symbolinworkspace"
            name="Go to Symbol in Workspace">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.lsp4e.operations.references.LSFindReferences"
            commandId="org.eclipse.ui.genericeditor.findReferences">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.lsp4e.operations.rename.LSPRenameHandler"
            commandId="org.eclipse.ui.edit.rename">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.lsp4e.operations.format.LSPFormatHandler"
            commandId="org.eclipse.lsp4e.format">
         <enabledWhen>
            <and>
               <with
                     variable="selection">
                  <instanceof
                        value="org.eclipse.jface.text.ITextSelection">
                  </instanceof>
               </with>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="org.eclipse.lsp4e.operations.symbols.LSPSymbolInFileHandler"
            commandId="org.eclipse.lsp4e.symbolinfile">
      </handler>
      <handler
            class="org.eclipse.lsp4e.operations.symbols.LSPSymbolInWorkspaceHandler"
            commandId="org.eclipse.lsp4e.symbolinworkspace">
      </handler>
   </extension>
   <extension
         point="org.eclipse.search.searchResultViewPages">
      <viewPage
            class="org.eclipse.search.internal.ui.text.FileSearchPage"
            id="org.eclipse.lsp4e.lsResultPage"
            searchResultClass="org.eclipse.lsp4e.operations.references.LSSearchResult">
      </viewPage>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.lsp4e.ui.LanguageServerPreferencePage"
            id="org.eclipse.lsp4e.preferences"
            name="%languageservers.preference.page">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:#TextEditorContext?after=additions">
         <menu
               label="%refactorings.menu.label">
            <command
                  commandId="org.eclipse.ui.edit.rename"
                  style="push">
            </command>
            <separator
                  name="org.eclipse.lsp4e.refactoringseparator">
            </separator>
         </menu>
         <command
               commandId="org.eclipse.lsp4e.format"
               style="push">
         </command>
         <menu
               label="%codelens.menu.label">
            <dynamic
                  class="org.eclipse.lsp4e.operations.codelens.LSPCodeLensMenu"
                  id="org.eclipse.lsp4e.codelens">
            </dynamic>
         </menu>
         <menu
               label="%codeactions.menu.label">
            <dynamic
                  class="org.eclipse.lsp4e.operations.codeactions.LSPCodeActionsMenu"
                  id="org.eclipse.lsp4e.codeActions">
            </dynamic>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.contentAssistProcessors">
      <contentAssistProcessor
            class="org.eclipse.lsp4e.operations.completion.LSContentAssistProcessor"
            contentType="org.eclipse.core.runtime.text">
      </contentAssistProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.genericeditor.hoverProviders">
      <hoverProvider
            class="org.eclipse.lsp4e.operations.hover.LSBasedHover"
            contentType="org.eclipse.core.runtime.text">
      </hoverProvider>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.eclipse.lsp4e.symbolinfile"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+O">
      </key>
      <key
            commandId="org.eclipse.lsp4e.symbolinworkspace"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+T">
      </key>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.ui.internal.genericeditor.ExtensionBasedTextEditor"
            class="org.eclipse.lsp4e.outline.EditorToOutlineAdapterFactory">
         <adapter
               type="org.eclipse.ui.views.contentoutline.IContentOutlinePage">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="org.eclipse.lsp4e.outline.LSSymbolsContentProvider"
            labelProvider="org.eclipse.lsp4e.outline.SymbolsLabelProvider"
            id="org.eclipse.lsp4e.outline.content"
            name="LS Symbols">
         <triggerPoints>
            <or></or>
         </triggerPoints>
         <enablement>
            <instanceof
                  value="org.eclipse.lsp4e.LanguageServiceAccessor$LSPDocumentInfo">
            </instanceof>
         </enablement>
      </navigatorContent>
   </extension>
   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.eclipse.lsp4e.outline">
      </viewer>
      <viewerContentBinding
            viewerId="org.eclipse.lsp4e.outline">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.eclipse.lsp4e.outline.content">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   <extension
         point="org.eclipse.mylyn.commons.notifications.ui.notifications">
        <category
        	id="org.eclipse.lsp4e"
        	label="%notification.category.label">
        </category>
		<event
		    categoryId="org.eclipse.lsp4e"
		    id="lsp.notification"
		    label="%notification.event.label"
		    selected="true">
		    <defaultHandler
		      sinkId="org.eclipse.mylyn.commons.notifications.sink.Popup">
		    </defaultHandler>
		</event>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="org.eclipse.lsp4e.ConnectDocumentToLanguageServerSetupParticipant"
            contentTypeId="org.eclipse.core.runtime.text">
      </participant>
   </extension>

</plugin>
